.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  scrollbar-width: 3px;
  scrollbar-color: #878788 #f1f1f1;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
}
.sidebarList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebarIcon {
  margin-right: 15px;
}
.sidebarbutton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.sidebarHr {
  margin: 20px 0;
}
.sidebarColleagueList {
  padding: 0;
  margin: 0;
  list-style: none;
}
